.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: "Georgia";
}

.reveal section img {
  border: none;
  box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.15);
}

.reveal h1 {
    font-size: 4rem;
}

h2.author, h3.date {
  font-size: 1.5rem;
}

video {
  height: 100%   !important;
}

.reveal .slide-background video {
  top: 0px;
}

#zebrafish, #kasthuri
{
  color: white
}

#zebrafish-ref
{
  color: white;
  width: 1050px;
}

#kasthuri-ref
{
  color: white;
  width: 920px;
}

